// Specific CSS for your home-page

// home-container
.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}
// home-container

// home-card-h1
.home-card-h1{
  color: white;
}
// home-card-h1
