// Specific CSS for your home-page

// home-container
.home-container{
  display: flex;
  justify-content: center;
  height: 90vh;
}

// home-container

// home-card-h1
.home-card-h1{
  margin-top: 8px;
}


// home-card-h1
