// navbar-container
.navbar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// navbar-container

// navbar-card-buttons
.navbar-card-buttons{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
// navbar-card-buttons

// navbar-card-logo
.navbar-card-logo{
  display: flex;
  justify-content: center;
  margin-top: 32px;
  height: 30vh;
  width: 30vh;
  margin: auto;
}
.navbar-card-logo img{
  margin-top: 8px;
  height: 100%;
  width: 100%;
}

// navbar-card-logo
