// navbar-container
.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  border: solid 1px #ffffff;
}
// navbar-container

// navbar-title
.navbar-title{
  display: flex;
  align-items: center;
  margin: 0 16px;
  color: white;
  font-weight: bold;
  font-weight: 600;
}
// // navbar-title

// navbar-sign-buttons
.navbar-sign-buttons{



  a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 0 16px;

  }

  display: flex;
  align-items: center;
}
// navbar-sign-buttons
