// navbar-container
.navbar-container{
  display: flex;
  justify-content: center;
  height: 10vh;
}
// navbar-container

// navbar-card-buttons
.navbar-card-buttons{
  display: flex;
  justify-content: space-between;
  width: 10vh;
  height: 10vh;

}
// navbar-card-buttons
