<div class="navbar-container">

  <div class="navbar-title">
    <h1>LITHOSOPHIE</h1>
  </div>
  <div class="navbar-sign-buttons">
    <a href="/login" class="navbar-signin-button">Sign in</a>
    <a href="/signup" class="navbar-sign-button">Sign up</a>
  </div>
</div>
