<div class="navbar-container">

  <div class="navbar-card-buttons">
    <button class="button-home">Home</button>
    <button class="button-crystals">Crystals</button>
    <button class="button-candles">Candles</button>
    <button class="button-soaps">Soaps</button>
    <button class="button-macrame">Macrame</button>
    <button class="button-crochet">Crochet</button>
    <button class="button-contact">Contact</button>
  </div>
  <div class="navbar-card-logo">
    <%= image_tag "logo-lithosophie" %>
  </div>

</div>
