<div class="navbar-container">

  <div class="navbar-card-buttons">

    <button class="button-home">Home</button>
    <button class="button-contact">Contact</button>

  </div>

  <div class="navbar-card-logo">

    <%= image_tag "logo-lithosophie" %>

  </div>

</div>
