<div class="home-container">

  <div class="home-presentation-card">

    <div class="home-presentation-card-im">
      <%= image_tag "logo-lithosophie.png", alt: "Image" %>
    </div>

  </div>

</div>
