// home
.button-home {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  align-content: center;
  height: 9vh;
  width: 18vh;
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
}

.button-home:hover {
  background-color: #240A34;
  border: 1px solid #240A34;
  transition: 0.3s;
}
// home

// button-crystals
.button-crystals {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  align-content: center;
  height: 9vh;
  width: 18vh;
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
}
.button-crystals:hover {
  background-color: #240A34;
  border: 1px solid #240A34;
  transition: 0.3s;
}

// button-crystals

// button-candles
.button-candles {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  align-content: center;
  height: 9vh;
  width: 18vh;
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
}
.button-candles:hover {
  background-color: #240A34;
  border: 1px solid #240A34;
  transition: 0.3s;
}
// button-candles

// button-soaps
.button-soaps {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  align-content: center;
  height: 9vh;
  width: 18vh;
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
}

.button-soaps:hover {
  background-color: #240A34;
  border: 1px solid #240A34;
  transition: 0.3s;
}
// button-soaps

// button-macrame
.button-macrame {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  align-content: center;
  height: 9vh;
  width: 18vh;
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
}
.button-macrame:hover {
  background-color: #240A34;
  border: 1px solid #240A34;
  transition: 0.3s;
}
// button-macrame

// button-crochet
.button-crochet {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  align-content: center;
  height: 9vh;
  width: 18vh;
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
}
.button-crochet:hover {
  background-color: #240A34;
  border: 1px solid #240A34;
  transition: 0.3s;
}
// button-crochet

// button-contact
.button-contact {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  align-content: center;
  height: 9vh;
  width: 18vh;
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
}
.button-contact:hover {
  background-color: #240A34;
  border: 1px solid #240A34;
  transition: 0.3s;
}
// button-contact
