// navbar-signin-button

.navbar-signin-button{
  color: transparent;
  padding: 8px;
  border: solid 1px #ffffff;
  font-size: bold;

  &:hover{
    background-color: #ffffff;
    color: #000000;
  }
}



// navbar-signin-button
