// navbar-container
.navbar-container{
  width: 100%;
}
// navbar-container

// navbar-card-buttons
.navbar-card-buttons{
  background-image: url("navbar.jpg");
  // background-image: linear-gradient(to right, #ff0000, #00ff00);
  height: 12vh;
  width: 100%;
}
// navbar-card-buttons
