// navbar-container
.navbar-container{
}
// navbar-container

// navbar-card-buttons
.navbar-card-buttons{
  background-image: url("navbar.jpg");
  height: 12vh;
  width: 100%;
}
// navbar-card-buttons
